@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


*, *::before, *::after {
    box-sizing: border-box;
    box-sizing: inherit;
  }

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  
html, body {
    height: 100%;
  }

  html {
    box-sizing: border-box;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

ul {
    padding: 0;
    list-style-type: none;
}
  
a {
    text-decoration: none;
}