@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

ul {
    padding: 0;
    list-style-type: none;
}
  
a {
    text-decoration: none;
}